.item {
  padding: 1em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 2vmin;
}

.item_picture {
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  overflow: hidden;
  /* border: 1px solid green; */
  margin-bottom: .5em;
}

.item_info {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding-top: .5em;
}

.item_picture img:hover {
  transform: scale(1.125);
  transition: 250ms;
}

.buttonGroup {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttonGroup > * {
  margin-bottom: 1em;
}