#billingPage {
	padding-top: 20vh;
	min-height: 70vh;
}

#billingPage > div {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.billing {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 2em;
	border-radius: 3vmin;
	width: 25em;
	/* height: 5em; */
	transition: 200ms;
}

.billing .inputsInfo {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
}

.billing form input[type="text"],
.billing form input[type="password"] {
	padding: 0.5em;
	margin: 0.5em 0;
}

.billing form button[type="submit"] {
	width: 100%;
}


.regLogin {
	padding: 1em 0 0 0;
	text-align: center;
}

.errorText {
	color: red;
}