#forgotPassPage {
	padding-top: 20vh;
	min-height: 70vh;
}

#accountPage .container > div {
	display: flex;
}

.loginForm {
}

.loginForm .login {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 2em;
	border-radius: 3vmin;
	width: 25em;
	/* height: 5em; */
	transition: 200ms;
	margin: 2em auto;

}

.login .inputsLogin {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
}

.login form input[type="text"],
.login form input[type="password"] {
	padding: 0.5em;
	margin: 0.5em 0;
}

.login form button[type="submit"] {
	width: 100%;
}

.login .subLogin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 1em;
}

.login .subLogin div {
	display: inline;
}

.login .additionalLogin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0 0 0;
}

.login .subLogin input[type="checkbox"],
.login .subLogin label {
	cursor: pointer;
}

.regLogin p {
	padding: 1em 0 0 0;
	text-align: center;
}

.errorText {
	color: red;
}