#front {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,.3)), url("../../public/background.png");
  background-size: cover;
  background-repeat: repeat;
}

.hero {
  padding-top: 15vh;
  text-align: center;
  display: grid;
  align-items: center;
  height: 85%;
}

.buttonDiv {
  margin-top: 15em;
}
